.SavePageWrapper {
  margin: 120px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 560px;
}
.SavePageWrapper h3 {
  font-size: 32px;
  font-weight: 700;
  color: #ff5a00;
  text-transform: uppercase;
}

.SavePageWrapper h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 15px;
}
.SavePageWrapper p {
  color: #5a5a5a;
  font-size: 20px;
  margin: 0 auto;
  font-weight: 400;
}
.SavePageWrapper-button {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
  color: #fafafa;
  background-color: #ff5a00;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.SavePageWrapper-button:hover {
  background: #e04f00;
  box-shadow: 0 6px 16px #ff5a0066;
}

.margin-top {
  margin-top: 40px;
}

.SavePageWrapper-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 120px;
}

.SavePageWrapper-cards-grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 100%;
  display: grid;
}

@media only screen and (max-width: 1440px) {
  .SavePageWrapper-button {
    margin-top: 30px;
  }
  .SavePageWrapper h2 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .SavePageWrapper h3 {
    font-size: 24px;
  }
  .SavePageWrapper h2 {
    font-size: 28px;
  }
  .SavePageWrapper p {
    font-size: 18px;
  }
  .SavePageWrapper-button {
    margin-top: 20px;
    font-size: 18px;
  }
  .SavePageWrapper {
    max-width: 400px;
    margin: 100px auto;
  }
}

@media only screen and (max-width: 800px) {
  .SavePageWrapper h3 {
    font-size: 24px;
  }
  .SavePageWrapper h2 {
    font-size: 28px;
  }
  .SavePageWrapper p {
    font-size: 18px;
  }
  .SavePageWrapper-button {
    margin-top: 20px;
    font-size: 18px;
  }
  .SavePageWrapper-button {
    font-size: 18px;
    max-width: 250px;
    width: 100%;
    margin: 20px auto 0;
  }
  .SavePageWrapper {
    max-width: 500px;
    margin: 100px auto;
  }
}

@media only screen and (max-width: 550px) {
  .SavePageWrapper h3 {
    font-size: 20px;
  }
  .SavePageWrapper h2 {
    font-size: 24px;
  }
  .SavePageWrapper p {
    font-size: 16px;
  }
  .SavePageWrapper-button {
    margin-top: 30px;
    font-size: 16px;
    max-width: 100%;
  }
}
