.AuthFormLayout {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  max-width: 560px;
  width: 100%;
}

.AuthFormContainer {
  padding: 48px 32px;
}

.AuthFormWrapper {
  position: relative;
  margin: 0 20px;
  background: #fafafa;
  border-radius: 20px;
  box-shadow: 0px 2px 20px -9px #0a0a0a1f;
}

.AuthFormWrapper-close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.AuthFormWrapper-close svg {
  width: 24px;
  height: 24px;
}

.AuthFormContainer-title {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-bottom: 32px;
}
.AuthFormContainer-title h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #060606;
}
.AuthFormContainer-title h3 {
  font-weight: 400;
  font-size: 18px;
  color: #5a5a5a;
  text-align: center;
}
.AuthFormLayout-login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.AuthFormLayout-login-label {
  font-weight: 600;
  font-size: 18px;
  color: #060606;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  width: 100%;
}
.AuthFormLayout-login-input {
  background: var(--gray-0310, #5a5a5a1a);
  padding: 18px 24px;
  border-radius: 6px;
  outline: none;
  max-width: 100%;
  width: 100%;
}
.AuthFormLayout-password-wrapper {
  position: relative;
  background: var(--gray-0310, #5a5a5a1a);
  border-radius: 6px;
}

.AuthFormLayout-password-wrapper input {
  background-color: transparent;
}

.AuthFormLayout-password-toggle {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #9b9b9b;
  display: flex;
  align-items: center;
}
.AuthFormLayout-password-toggle svg {
  width: 24px;
  height: 24px;
}
.AuthFormLayout-login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.AuthFormLayout-login-options input {
  width: 23px;
  height: 23px;
}
.AuthFormLayout-remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  color: #5a5a5a;
  cursor: pointer;
}
.AuthFormLayout-forgot-password {
  color: #ff5a00;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.AuthFormLayout-forgot-password:hover {
  color: #ff7931;
}
.AuthFormLayout-login-button {
  padding: 15px;
  background: #ff5a00;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  color: #fafafa;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.AuthFormLayout-login-button:hover {
  background: #dd5004;
}

.underpopup {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #5a5a5a;
}

.underpopup span {
  font-weight: 600;
  font-size: 20px;
  color: #ff5a00;
  cursor: pointer;
  transition: all 0.3s ease;
}

.underpopup span:hover {
  color: #ff7931;
}

.AuthFormLayout-login-form-name-wrapper {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 1440px) {
  .AuthFormContainer {
    padding: 32px 24px;
  }
}
@media only screen and (max-width: 1100px) {
  .AuthFormContainer-title {
    padding-bottom: 20px;
  }
  .AuthFormContainer-title h2 {
    font-size: 20px;
  }
  .AuthFormContainer-title h3 {
    font-size: 16px;
  }
  .AuthFormLayout-login-button {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .AuthFormLayout-login-label {
    gap: 8px;
  }
  .AuthFormLayout-login-input {
    padding: 14px 20px;
    font-size: 16px;
  }
  .AuthFormLayout-forgot-password,
  .AuthFormLayout-remember-me {
    font-size: 18px;
  }
  .AuthFormLayout-login-options input {
    width: 20px;
    height: 20px;
  }
  .underpopup {
    font-size: 17px;
  }
  .underpopup span {
    font-size: 18px;
  }
  .AuthFormLayout {
    max-width: 470px;
  }
}
@media only screen and (max-width: 440px) {
  .AuthFormLayout-login-form-name-wrapper{
    gap: 10px;
  }
  .AuthFormContainer-title h2 {
    font-size: 20px;
  }
  .AuthFormContainer-title h3 {
    font-size: 14px;
  }
  .AuthFormLayout-login-form {
    gap: 15px;
  }
  .AuthFormLayout-login-label {
    font-size: 16px;
  }
  .AuthFormLayout-login-input {
    padding: 12px 18px;
    font-size: 16px;
  }
  .AuthFormLayout-forgot-password,
  .AuthFormLayout-remember-me {
    font-size: 16px;
  }
  .underpopup {
    font-size: 16px;
  }
  .underpopup span {
    font-size: 16px;
  }
  .AuthFormContainer {
    padding: 24px 20px;
  }
  .AuthFormWrapper-close {
    top: 15px;
    right: 15px;
  }
  .AuthFormLayout-login-button {
    padding: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .AuthFormLayout-login-options * {
    font-size: 14px;
  }
  .AuthFormLayout-login-options input {
    width: 16px;
    height: 16px;
  }
  .AuthFormLayout-login-options {
    margin-top: 0;
  }
  .AuthFormLayout-login-label {
    font-size: 15px;
  }
}
