.orders-container {
  margin: 20px auto;
}

.order-card {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.order-header {
  margin-bottom: 10px;
}

.order-name {
  font-weight: 600;
  font-size: 20px;
}

.order-date {
  font-size: 16px;
  color: #666;
}

.order-shipping {
  font-size: 18px;
  margin-bottom: 6px;
}

.order-summary {
  font-size: 18px;
  margin-bottom: 10px;
}

.order-status-row {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 13px;
  margin: 12px 0 0px;
}

.order-total {
  margin-left: auto;
  font-weight: 600;
  font-size: 20px;
}

.order-items {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.order-items-title {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 20px;
}

.order-item-row {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 4px 0;
}

.order-item-info {
  max-width: 70%;
}

.order-item-title {
  font-weight: 500;
}

.order-item-variant {
  font-size: 16px;
  color: #666;
}

.order-item-price {
  white-space: nowrap;
  font-weight: 500;
}

.order-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #eee;
  padding-top: 20px;
  align-items: center;
}
.order-navigation-status-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.order-navigation-status {
  font-weight: 600;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 4px;
}

.cancel-order-button {
  font-weight: 600;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 4px;
  color: #e10000;
  border: 1px solid #e10000;
  background: #e100000d;
  cursor: pointer;
}
