.spinner-wrapper {
  max-width: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  min-height: 395px;
}

.spinner {
  width: 46px;
  height: 46px;
  border: 5px solid #d1d1d1;
  border-top-color: #ff5a00;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
