.CatalogWrapper {
  margin-top: 32px;
  margin-bottom: 32px;
}

.CatalogWrapper-flex {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1100px) {
}
@media only screen and (max-width: 960px) {
}
@media only screen and (max-width: 768px) {
  .CatalogWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .CatalogWrapper {
    margin-top: 0;
  }
}
@media only screen and (max-width: 460px) {
}
