.Account-section {
  max-width: 100%;
  width: 100%;
}
.Account-section-top {
  display: flex;
  align-items: center;
  gap: 24px;
}

.Account-section-top h2 {
  font-size: 24px;
  font-weight: 600;
  color: #060606;
  text-transform: uppercase;
  max-width: max-content;
  width: 100%;
}

.Account-section-top-line {
  border: 1px solid var(--gray-0460, #c3c3c399);
  width: 100%;
}
.Account-section-top-manage {
  cursor: pointer;
  display: flex;
  gap: 10px;
  max-width: max-content;
  width: 100%;
  align-items: center;
  font-size: 20px;
  color: #ff5a00;
  font-weight: 600;
  transition: 0.3s ease all;
}

.Account-section-top-manage:hover {
  color: #e05206;
}

.Account-section-top-manage svg {
  stroke-width: 2px;
}
.Account-section-top-delete {
  cursor: pointer;
  display: flex;
  gap: 10px;
  max-width: max-content;
  width: 100%;
  align-items: center;
  font-size: 20px;
  color: #e10000;
  font-weight: 600;
  transition: 0.3s ease all;
}

.Account-section-top-delete:hover {
  color: #d50808;
}

.Account-section-top-delete svg {
  stroke-width: 2px;
}

.Account-section-top-make-primary {
  cursor: pointer;
  display: flex;
  gap: 10px;
  max-width: max-content;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  transition: 0.25s ease;
  color: #f4b400; /* базовий золотий */
}

.Account-section-top-make-primary:hover {
  color: #f9a825;
}

.Account-section-top-make-primary.active {
  color: #ff8f00;
  cursor: default;
}

.Account-section-top-make-primary.confirm {
  color: #ff8f00;
  animation: pulse 1s infinite;
}

.Account-section-top-make-primary.loading {
  pointer-events: none;
  opacity: 0.6;
}

.Account-section-top-make-primary svg {
  stroke-width: 2px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}
.Account-section-top-delete.confirm {
  color: #dc2626;
  animation: pulse 1s infinite;
}

.Account-section-top-delete.loading {
  pointer-events: none;
  opacity: 0.6;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.Adressess-card-funcional-left-func {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Account-section-content {
  width: 100%;
  margin-top: 48px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-wrapper-group {
  display: flex;
  gap: 25px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form-field label {
  font-weight: 600;
  font-size: 18px;
  color: #060606;
  display: flex;
  justify-content: space-between;
}

.form-field label span {
  color: #5a5a5a;
  font-weight: 400;
}

.form-field input {
  width: 100%;
  padding: 18px 24px;
  border-radius: 6px;
  border: 1px solid #c3c3c399;
  font-size: 20px;
  color: #222222;
  outline: none;
  background-color: #fafafa;
}

.form-field input[readonly] {
  background: #f7f8fa;
  cursor: not-allowed;
  outline: none;
}

.form-field input:focus {
  border-color: #000;
}

.phone-field {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
}

.phone-field input {
  border: none;
  padding: 0px 0;
}

.phone-field input:focus {
  outline: none;
}

.country {
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  background: var(--gray-0420, #c3c3c333);
  height: 100%;
  padding: 14px 24px;
}

.arrow {
  font-size: 10px;
}

.input-wrapper-save-buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  font-size: 20px;
}
.save-btn {
  border-radius: 4px;
  background: #ff5a00;
  color: #fafafa;
  cursor: pointer;
  transition: 0.25s ease;
  padding: 12px 24px;
}

.save-btn:hover {
  background: #e44f00; /* темніший відтінок */
  transform: translateY(-1px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}
.cancel-btn {
  border-radius: 4px;
  padding: 12px 24px;
  transition: 0.3s ease all;
  background: #dc2626; /* dark red */
  color: #fff;
  cursor: pointer;
}
.cancel-btn:hover {
  background: #b91c1c; /* even darker on hover */
  border-color: #991b1b;
}

@media (max-width: 1340px) {
  .input-wrapper {
    gap: 24px;
  }
  .form-field {
    gap: 12px;
  }
  .Account-section-content {
    margin-top: 32px;
  }
  .input-wrapper-group {
    gap: 16px;
  }
  .Account-section-top h2 {
    font-size: 22px;
  }
  .form-field input {
    padding: 16px 20px;
  }
  .Adressess-card-top-text {
    max-width: 40%;
    display: flex;
    justify-content: space-between;
  }
  .Adressess-card-top-adressline {
    font-size: 19px;
  }
}
@media (max-width: 1124px) {
  .save-btn,
  .cancel-btn {
    padding: 10px 20px;
  }
  .input-wrapper-save-buttons {
    margin-top: 0;
    font-size: 18px;
  }
  .Adressess-card-top-text {
    font-size: 16px;
  }
  .form-field input {
    font-size: 18px;
    padding: 14px 18px;
  }
  .form-field label {
    font-size: 16px;
  }
  .AccountPage {
    margin-bottom: 150px;
  }
  .Account-section-top h2 {
    font-size: 20px;
    text-wrap: nowrap;
  }
  .Account-section-top-manage {
    font-size: 18px;
  }
  .Account-section-top {
    gap: 15px;
  }
  .Adressess-card-top-text {
    max-width: 30%;
  }
  .Adressess-card-top-adressline {
    font-size: 18px;
  }
  .Adressess-card-top {
    padding-bottom: 16px;
  }
  .Adressess-card-funcional {
    padding-top: 16px;
  }
  .Account-section-top-delete {
    font-size: 18px;
  }
  .Account-section-top-make-primary {
    font-size: 18px;
  }
  .Adressess-card {
    padding: 18px;
  }
  .Adressess-cards {
    margin-top: 26px;
  }
}
@media (max-width: 1024px) {
  .Account-section-top-line {
    display: none;
  }
  .Account-section-top {
    justify-content: space-between;
  }
}
@media (max-width: 980px) {
  .Adressess-card-top-adressline {
    font-size: 16px;
  }
}
@media (max-width: 880px) {
  .Account-section-top-delete {
    font-size: 16px;
  }
  .Account-section-top-make-primary {
    font-size: 16px;
  }
  .Account-section-top h2 {
    font-size: 18px;
    text-wrap: nowrap;
  }
  .Account-section-top-manage {
    font-size: 16px;
  }
  .Account-section-top {
    gap: 10px;
  }
  .Account-section-top-manage {
    gap: 5px;
  }
}

@media (max-width: 815px) {
  .Adressess-card-top {
    gap: 10px;
  }
  .Account-section-top-delete {
    font-size: 18px;
  }
  .Account-section-top-make-primary {
    font-size: 18px;
  }
  .AccountPage-content {
    flex-direction: column;
    gap: 40px;
  }
  .Account-section-top h2 {
    font-size: 20px;
    text-wrap: nowrap;
  }
  .Account-section-top-manage {
    font-size: 18px;
  }
  .input-wrapper {
    gap: 15px;
  }
  .form-field {
    gap: 8px;
  }
  .form-field input {
    font-size: 16px;
    padding: 12px 14px;
  }
  .form-field label {
    font-size: 14px;
  }
  .AccountPage {
    margin-bottom: 100px;
  }
}

@media (max-width: 640px) {
  .Adressess-card-top {
    flex-direction: column;
  }
  .Adressess-card-top-text {
    max-width: 100%;
  }
  .input-wrapper-group {
    flex-direction: column;
    gap: 15px;
  }
  .Adressess-card-funcional {
    align-items: flex-start;
  }
  .Adressess-card-funcional-left-func {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }
  .input-wrapper-save-buttons {
    justify-content: space-between;
    flex-direction: column;
  }
  .save-btn,
  .cancel-btn {
    max-width: 100%;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .Adressess-card-top-adressline {
    font-size: 14px;
  }
  .Adressess-card-top-text {
    font-size: 13px;
  }
  .Adressess-card {
    padding: 16px;
  }
  .Account-section-top-manage {
    font-size: 16px;
  }
  .Account-section-top-delete {
    font-size: 16px;
  }
  .Account-section-top-make-primary {
    font-size: 16px;
  }
  .Adressess-card-top {
    padding-bottom: 10px;
  }
  .Adressess-card-funcional {
    padding-top: 10px;
  }
  .AccountPage-content {
    gap: 20px;
  }
}

@media (max-width: 440px) {
  .Account-section-top h2 {
    font-size: 18px;
    text-wrap: nowrap;
  }
  .Account-section-top-manage,
  .Account-section-top-delete,
  .Account-section-top-make-primary {
    font-size: 15px;
  }
  .Account-section-top-line {
    display: none;
  }
  .Account-section-top {
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .save-btn,
  .cancel-btn {
    max-width: 100%;
    width: 100%;
    padding: 10px 20px;
    font-size: 15px;
  }
  .Account-section-top-manage,
  .Account-section-top-delete,
  .Account-section-top-make-primary {
    font-size: 14px;
  }
  .Adressess-card-top-adressline {
    font-size: 13px;
  }
  .Adressess-card-top-text {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .Adressess-card {
    padding: 10px;
    border-radius: 8px;
  }
  .Account-section-top-manage,
  .Account-section-top-delete,
  .Account-section-top-make-primary {
    font-size: 12px;
  }
}
