.ProductCard-save {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
  background-color: #e2e2e2;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.ProductCard-save:hover {
  background-color: #c5c5c5;
}

.ProductCard-save svg {
  height: 20px;
}