.logo-order-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.Order-layout-top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Order-layout-top h2 {
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}

.Order-layout-top-line {
  height: 1px;
  background-color: #c3c3c399;
  width: 100%;
}

.OrderPage-container {
  display: flex;
  gap: 20px;
}

.OrderLayout {
  max-width: 100%;
  width: 100%;
}

.OrderLayout-margin-zatychka {
  margin-top: 48px;
}

@media only screen and (max-width: 1000px) {
  .OrderPage-container {
    flex-direction: column-reverse;
  }

}

@media only screen and (max-width: 600px) {
  .logo-order-page{
    max-width: 200px;
    margin: 20px auto;
  }
}