.CartFirstMenu {
  position: absolute;
  right: 15px;
  top: calc(100% + 24px);
  border-radius: 0 0 12px 12px;
  background: #fafafa;
  max-width: 450px;
  width: 100%;
  overflow: hidden;
}

.menu {
  padding: 24px 0;
}
.menu-top {
  padding: 0 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-top h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.menu-top-close {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.menu-top-close p {
  font-size: 18px;
  font-weight: 600;
}

.menu-top-close svg {
  width: 24px;
  height: 24px;
}

.menu-content-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 45px;
  padding: 0 24px;
}

.menu-content-empty h3 {
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  color: #ff5a00;
}

.menu-content-empty p {
  font-size: 18px;
  color: #5a5a5a;
  text-align: center;
}

.menu-content-empty-button {
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
  background-color: #ff5a00;
  padding: 15px;
  width: 100%;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu-content-empty-button:hover {
  background: #e04f00;
}

.CartFirstMenu-content {
  max-height: 42vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #5a5a5a99;
  padding-right: 10px;
  padding: 0px 24px 24px;
}

.CartFirstMenu-products-added {
  padding: 0 24px 10px;
  font-size: 18px;
  font-weight: 400;
  color: #5a5a5a;
}

.CartFirstMenu-content-card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 18px;
  padding-top: 18px;
  border-bottom: 1px solid var(--gray-0420, #c3c3c333);
}

.CartFirstMenu-content-card-wrapper {
  display: flex;
  gap: 18px;
}

.CartFirstMenu-content-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 105px;
  width: 100%;
  background: var(--gray-0310, #5a5a5a1a);
  border-radius: 10px;
}
.CartFirstMenu-content-card-info h2 {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 24px;
}

.CartFirstMenu-content-card-info p {
  font-size: 16px;
  color: #ff5a00;
  font-weight: 600;
}

.CartFirstMenu-content-card-info-buttons {
  display: flex;
  gap: 20px;
}
.CartFirstMenu-content-card-info-buttons-price {
  max-width: 100%;
  width: 100%;
  background: #ff5a000d;
  color: #ff5a00;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
}

.CartFirstMenu-content-card-info-buttons-manage-quantity {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  border: 1px solid var(--gray-0310, #5a5a5a1a);
  border-radius: 4px;
}
.qty-btn {
  color: #5a5a5a99;
  font-size: 12px;
  cursor: pointer;
}
.qty-value {
  font-size: 18px;
  font-weight: 600;
  color: #222222;
}

.CartFirstMenu-content-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 24px 0;
  border-top: 1px solid var(--gray-0420, #c3c3c333);
}
.CartFirstMenu-content-bottom-price {
  display: flex;
  justify-content: space-between;
}

.CartFirstMenu-content-bottom-price p {
  font-size: 24px;
  font-weight: 600;
  color: #222222;
}

.CartFirstMenu-content-bottom-price-right {
  display: flex;
  flex-direction: column;
}

.tax-alarm-cart {
  font-size: 20px;
  color: #5a5a5a;
  line-height: 20px;
}

.CartFirstMenu-content-bottom-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.CartFirstMenu-content-bottom-button-open-cart {
  color: #5a5a5a;
  font-size: 24px;
  font-weight: 600;
  max-width: 100%;
  width: 100%;
  text-align: center;
  background: var(--gray-0310, #5a5a5a1a);
  padding: 15px 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.CartFirstMenu-content-bottom-button-open-cart:hover {
  background: #5a5a5a33;
  color: #333;
  transform: translateY(-2px);
}

.CartFirstMenu-content-bottom-button-checkout {
  font-size: 24px;
  max-width: 100%;
  font-weight: 600;
  width: 100%;
  text-align: center;
  background: #ff5a00;
  padding: 15px 10px;
  border-radius: 4px;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.CartFirstMenu-content-bottom-button-checkout:hover {
  background: #e64f00;
  transform: translateY(-2px);
}

@media only screen and (max-width: 1440px) {
  .CartFirstMenu-content-card-info h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .CartFirstMenu-content-card-info p {
    font-size: 15px;
    color: #ff5a00;
  }
  .CartFirstMenu-content-card-img {
    max-width: 80px;
  }
  .CartFirstMenu-content-card-wrapper {
    gap: 12px;
  }
  .CartFirstMenu-content-card {
    gap: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .CartFirstMenu-content-card-info-buttons-price {
    font-size: 18px;
    padding: 8px;
  }
  .CartFirstMenu-content-card-info-buttons {
    gap: 15px;
  }
  .CartFirstMenu {
    max-width: 400px;
  }
  .menu-content-empty h3 {
    font-size: 22px;
  }
  .menu-content-empty p {
    font-size: 16px;
  }
  .menu-content-empty {
    margin-top: 25px;
  }
  .menu-content-empty-button {
    padding: 12px;
    font-size: 18px;
  }
  .CartFirstMenu-content-bottom-price p {
    font-size: 20px;
  }
  .CartFirstMenu-content-bottom-button-open-cart,
  .CartFirstMenu-content-bottom-button-checkout {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1100px) {
  .CartFirstMenu {
    top: calc(100% + 10px);
    right: 0px;
  }
  .menu-content-empty h3 {
    font-size: 20px;
  }
  .menu-content-empty p {
    font-size: 15px;
  }
  .menu-content-empty {
    margin-top: 20px;
  }
  .menu-content-empty-button {
    padding: 12px;
    font-size: 18px;
  }
  .menu-content-empty {
    gap: 18px;
  }
}
@media only screen and (max-width: 820px) {
  .menu-top {
    padding: 12px 24px 0;
  }
  .CartFirstMenu {
    position: fixed;
    right: 0;
    top: var(--header-h);
    width: 100%;
    max-width: 50%;
    border-radius: 0;
    height: calc(100vh - var(--header-h));
    overflow: hidden;
  }
  .CartFirstMenu-content-bottom-buttons {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .CartFirstMenu-content-bottom-button-open-cart,
  .CartFirstMenu-content-bottom-button-checkout {
    font-size: 16px;
  }

  .menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .CartFirstMenu-content {
    flex: 1;
    min-height: 0;
    max-height: 100%;
    overflow-y: auto;
    padding: 0 24px 24px;
  }

  .CartFirstMenu-content-bottom {
    margin-top: auto;
    position: relative;
    background: #fafafa;
    padding: 15px 24px;
    border-top: 1px solid var(--gray-0420, #c3c3c333);
  }

  .CartFirstMenu-content-bottom-buttons {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .CartFirstMenu-content-bottom-price-right {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .CartFirstMenu {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .menu-top h2,
  .menu-top-close p {
    font-size: 18px;
  }
  .menu-top-close {
    gap: 7px;
  }
  .CartFirstMenu-products-added {
    font-size: 16px;
  }
  .CartFirstMenu-content-card-info h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .CartFirstMenu-content-card-info-buttons {
    gap: 10px;
  }
  .CartFirstMenu-content-bottom-price p,
  .tax-alarm-cart {
    font-size: 18px;
  }
}
