.HeroBanner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 380px;
  background: #eee;
  margin-top: 25px;
  border-radius: 10px;
  user-select: none;
  touch-action: pan-y;
}

.HeroBanner-track {
  position: relative;
  display: flex;
  height: 100%;
  transition: transform 0.4s ease;
}

.HeroBanner-slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  background: #ff4c00;
  overflow: hidden;
  background-image: var(--bg-xl);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.HeroBanner-slide img {
  object-fit: contain;
}

.HeroBanner-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}

.HeroBanner-title {
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 5px;
}

.HeroBanner-sub {
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  text-transform: uppercase;
}

.HeroBanner-btn {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #ff5a00;
  background: #fafafa;
  max-width: 280px;
  width: 100%;
  padding: 11px 5px;
  margin-top: 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease all;
  border: 2px solid transparent;
}

.HeroBanner-btn:hover {
  background: transparent;
  border: #fafafa 2px solid;
  color: #fafafa;
}

.HeroBanner-pagination {
  position: absolute;
  bottom: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
}

.dot.active {
  background: #fff;
}

@media (max-width: 1440px) {
  .HeroBanner-slide {
    background-image: var(--bg-lg);
  }
  .HeroBanner-title {
    font-size: 24px;
  }
  .HeroBanner-sub {
    font-size: 32px;
  }
  .HeroBanner-btn {
    font-size: 20px;
  }
}

@media (max-width: 1124px) {
  .HeroBanner-slide {
    background-image: var(--bg-md);
  }
  .HeroBanner-title {
    font-size: 20px;
  }
  .HeroBanner-sub {
    font-size: 24px;
  }
  .HeroBanner-btn {
    font-size: 16px;
    max-width: 200px;
    margin-top: 20px;
  }
  .HeroBanner {
    height: 290px;
  }
}

@media (max-width: 820px) {
  .HeroBanner-slide {
    background-image: var(--bg-sm);
  }

  .HeroBanner-title {
    font-size: 20px;
  }
  .HeroBanner-sub {
    font-size: 24px;
  }
  .HeroBanner-btn {
    font-size: 16px;
    max-width: 200px;
  }
  .HeroBanner {
    height: 408px;
  }
}

@media (max-width: 440px) {
  .HeroBanner-slide {
    background-image: var(--bg-xs);
  }
  .HeroBanner-content {
    top: 40px;
    transform: translateY(0%);
  }
  .HeroBanner {
    height: 500px;
  }
  .HeroBanner-title {
    font-size: 16px;
  }
  .HeroBanner-sub {
    font-size: 24px;
  }
  .HeroBanner-btn {
    font-size: 16px;
    max-width: 200px;
  }
  .HeroBanner {
    height: 508px;
  }
}
