.PopularSearch {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 35px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: thin;
}

.PopularSearch-row-blocks {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}

.PopularSearch h3 {
  color: #222222;
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
}

.PopularSearch-block {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 14px 24px;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
}

.PopularSearch-block:hover {
  border: 1px solid #ff5a00;
  color: #ff5a00;
}

@media (max-width: 1440px) {
  .PopularSearch-block {
    font-size: 16px;
  }
  .PopularSearch {
    margin-top: 24px;
  }
}
@media (max-width: 1124px) {
  .PopularSearch,
  .PopularSearch-row-blocks {
    gap: 12px;
  }
}
@media (max-width: 820px) {
  .PopularSearch,
  .PopularSearch-row-blocks {
    gap: 10px;
  }
  .PopularSearch-block {
    padding: 12px 24px;
  }
  .PopularSearch {
    margin-top: 20px;
  }
}
@media (max-width: 440px) {
  .PopularSearch {
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    gap: 10px;
    padding-bottom: 0;
  }

  .PopularSearch-row-blocks {
    overflow-x: auto;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
  }

  .PopularSearch-block {
    font-size: 14px;
  }
}
