@import "tailwindcss";
* {
  font-family: var(--font-open-sans), sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #222222;
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 20px;
}

.no-scroll {
  overflow-y: hidden;
}

.Toastify__progress-bar {
  background: #ff5a00;
}

.opacity-background {
  top: 0;
  background: rgba(90, 90, 90, 0.1);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.Toastify__progress-bar::before {
  background: none !important;
}

.Toastify__progress-bar-theme--light {
  background: #ff5a00 !important;
}

.AccountPage {
  margin-bottom: 200px;
}

.AccountPage-content {
  display: flex;
  gap: 20px;
}

.catalog-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.ProductCard-save {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
  background-color: #e2e2e2;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.ProductCard-save:hover {
  background-color: #c5c5c5;
}

.ProductCard-save svg {
  height: 20px;
}
