@import "tailwindcss";
* {
  font-family: var(--font-open-sans), sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #222222;
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 20px;
}

.no-scroll {
  overflow-y: hidden;
}

.Toastify__progress-bar {
  background: #ff5a00;
}

.Toastify__progress-bar::before {
  background: none !important;
}

.Toastify__progress-bar-theme--light {
  background: #ff5a00 !important;
}

