@import "tailwindcss";
* {
  font-family: var(--font-open-sans), sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 20px;
}
