header {
  box-shadow: 0px 2px 20px -9px #0a0a0a1f;
  background: #fafafa;
  padding: 25px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header-wrapper {
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-left {
  display: flex;
  gap: 20px;
  max-width: 560px;
  width: 100%;
  align-items: center;
}
.header-logo {
  max-width: 270px;
  width: 100%;
}
.catalog-menu {
  max-width: 270px;
  width: 100%;
}
.catalog-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 0;
  border: 1px solid #6c6c6c;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.catalog-menu-button svg {
  transition: transform 0.3s ease;
}

/* когда кнопка активна — поворачиваем иконку */
.catalog-menu-button.active svg {
  transform: rotate(-180deg);
}

.catalog-menu-button:hover {
  border: 1px solid #ff5a00;
  color: #ff5a00;
}
.catalog-menu-button svg {
  font-size: 20px;
}

.header-search {
  max-width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  background: #c3c3c333;
  padding: 15px 24px;
  border-radius: 4px;
}

.header-search input {
  outline: none;
  max-width: 100%;
  width: 100%;
  font-size: 18px;
}

.header-search svg {
  font-size: 24px;
  color: #22222266;
  cursor: pointer;
}

.header-personal-data {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 450px;
  width: 100%;
  gap: 10px;
}
.header-personal-data-column,
.header-personalAccount-data-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.header-personal-data-column *,
.header-personalAccount-data-column * {
  transition: all 0.3s ease;
}

.header-personal-data-top-row-count {
  color: #6c6c6c;
}

.header-personal-data-top-row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #222222;
  font-weight: 600;
}
.header-personal-data-top-row svg {
  width: 24px;
  height: 24px;
}
.header-personal-data-bottom-row {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  color: #6c6c6c;
}
.header-personal-data-bottom-row-text {
  font-weight: 400;
  font-size: 16px;
  color: #6c6c6c;
}

.header-personal-data-bottom-row-text.loginned {
  text-align: right;
}

.header-personal-data-column:hover * {
  color: #ff5a00;
}

.header-personalAccount-data-column
  .header-personal-data-bottom-row-text:hover {
  color: #ff5a00;
}

.header-personalAccount-data-column .header-personal-data-top-row:hover {
  color: #ff5a00;
}

.catalog-menu-button-burger {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.catalog-menu-button-burger .bar {
  width: 20px;
  height: 2px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #060606;
  transition: all 0.2s ease-in-out;
}

.catalog-menu-button-burger.active .bar:nth-of-type(1) {
  display: none;
}
.catalog-menu-button-burger.active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.catalog-menu-button-burger.active .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.catalog-menu-button-burger .bar:nth-of-type(2) {
  top: calc(50% - 6px);
}
.catalog-menu-button-burger .bar:nth-of-type(3) {
  top: calc(50% + 6px);
}

.container-search {
  max-width: 100%;
  width: 100%;
}

.container-mobile-search {
  display: none;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 20px 0;
}

@media only screen and (max-width: 1440px) {
  .catalog-menu-hidden {
    display: none;
  }
  .header-personal-data-top-row {
    font-size: 16px;
  }
  .header-personal-data-bottom-row-text {
    font-size: 14px;
  }

  .header-personal-data-column,
  .header-personalAccount-data-column {
    gap: 3px;
  }
  .header-personal-data-top-row svg {
    width: 22px;
    height: 22px;
  }
  .catalog-menu-button {
    gap: 10px;
  }
  .header-search {
    max-width: 500px;
  }
  header {
    padding: 25px 0;
  }
  .header-personal-data {
    max-width: 380px;
  }
}

@media only screen and (max-width: 1100px) {
  .header-personal-data-bottom-row {
    display: none;
  }
  .header-personal-data-top-row {
    font-size: 14px;
    gap: 5px;
  }
  .header-search {
    padding: 12px 20px;
  }
  .catalog-menu-button {
    padding: 12px 5px;
    gap: 6px;
    font-size: 14px;
  }
  .personal-acc-hidden-laptop {
    display: none;
  }
  .header-personal-data {
    max-width: 305px;
    justify-content: flex-end;
    gap: 15px;
  }
  .header-personal-data {
    max-width: 275px;
  }
  .header-search {
    max-width: 100%;
  }
  header {
    padding: 20px 0px;
  }

  .catalog-menu-button svg {
    width: 16px;
  }
  .header-personal-data-column,
  .header-personalAccount-data-column {
    text-wrap: nowrap;
  }
  .header-search input {
    font-size: 14px;
  }
  .header-personal-data-bottom-row-text-mobile-hidden {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .header-search {
    max-width: 300px;
  }
  header .container {
    gap: 12px;
  }
  .header-left {
    flex-direction: row-reverse;
    gap: 10px;
  }
  .catalog-menu {
    background: #c3c3c333;
    max-width: 40px;
    height: auto;
    padding: 12px 10px;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .header-search {
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .header-personal-data {
    max-width: 170px;
  }
  .header-personal-data-top-row {
    flex-direction: column;
    gap: 3px;
  }
  .header-personal-data-top-row {
    font-size: 12px;
  }
  .header-personal-data-top-row svg {
    width: 20px;
    height: 18px;
  }
  .header-search input {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .header-left {
    flex-direction: row-reverse;
    /* max-width: 40px; */
  }
  header .container {
    gap: 8px;
  }
  header {
    padding: 15px 0px;
  }
}

@media only screen and (max-width: 460px) {
  .container-search {
    display: none;
  }

  .container-mobile-search {
    display: flex;
  }

  .header-search {
    max-width: 100%;
  }
}
