.OrderShipping {
  margin-bottom: 100px;
}

.Account-section-general-info {
  border: 1px solid var(--gray-0460, #c3c3c399);
  border-radius: 12px;
  padding: 0 24px;
  margin-top: 48px;
}
.Account-section-general-info-row {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #c3c3c333;
}

.Account-section-general-info-row h3 {
  font-weight: 600;
  font-size: 20px;
  max-width: 100%;
  width: 100%;
  text-align: end;
}

.Account-section-general-info-row p {
  font-weight: 400;
  font-size: 18px;
  color: #5a5a5a;
  max-width: 30%;
  width: 100%;
}

.OrderLayout-shipping-companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 32px;
}
.OrderLayout-shipping-companie-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}

.OrderLayout-shipping-companie-card div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.OrderLayout-shipping-companie-card h2 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.OrderLayout-shipping-companie-card p {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.OrderLayout-shipping-companie-custom-checkbox {
  border: 1px solid var(--gray-0360, #5a5a5a99);
  outline: none;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OrderLayout-shipping-companie-custom-checkbox svg {
  color: #fafafa;
}

.OrderLayout-shipping-companie-custom-checkbox.active {
  background-color: #ff5a00;
  border: 1px solid transparent;
}
