.container-catalog {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 20px;
  z-index: 3;
}

.catalog-burger-menu {
  position: absolute;
  top: 99%;
  left: 0;

  width: 100%; /* або 100% — як треба */

  background: #fafafa;
  /* box-shadow: 0px 0 20px -9px #0a0a0a1f; */

  transform: translateX(-100%); /* приховано зліва */
  transition: transform 0.3s ease;
  padding: 32px 0 40px;

  overflow-y: auto;
}

.catalog-burger-menu-content {
  max-width: 280px;
  width: 100%;
}

.catalog-burger-menu-content-cards {
  max-width: 100%;
  width: 100%;
}

.catalog-burger-menu-content h3,
.catalog-burger-menu-content-cards h3 {
  margin-bottom: 32px;
  color: #222222;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.catalog-burger-menu-content-categoryes-column {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 260px;
  width: 100%;
  border-right: 1px solid #c3c3c399;
}

.catalog-burger-menu-content-categoryes {
  display: flex;
  gap: 20px;
}

.catalog-burger-menu-content-categoryes button {
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  max-width: max-content;
}

.catalog-burger-menu-content-categoryes button.active {
  color: #ff5a00;
  font-weight: 600;
}
.catalog-burger-menu-content-categoryes button:hover {
  color: #ff5a00;
  font-weight: 600;
}

/* Коли меню активне */
.catalog-burger-menu.active {
  transform: translateX(0);
}

.opacity-background {
  background: rgba(90, 90, 90, 0.1);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.catalog-burger-menu-content-cards-container {
  display: flex;
  align-items: stretch;
  gap: 20px;
}

.CatalogBurgerMenuCard {
  background: var(--gray-0420, #c3c3c333);
  padding: 16px;
  border-radius: 20px;
  width: 100%;
  height: 340px; /* ← ЖОРСТКО фіксуємо */
  display: flex;
  flex-direction: column;
}

.CatalogBurgerMenuCard-img {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CatalogBurgerMenuCard-img img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
/* .CatalogBurgerMenuCard-container {
} */

.CatalogBurgerMenuCard h2 {
  font-weight: 600;
  font-size: 18px;
  margin-top: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mobile-funcional-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.mobile-funcional-button-row {
  background: var(--gray-0420, #c3c3c333);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-funcional-button-row-content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mobile-funcional-button-row-content p {
  font-weight: 600;
  font-size: 16px;
}

.mobile-funcional-button-row-content svg {
  width: 20px;
  height: 20px;
}
.mobile-funcional-button-row-content svg:nth-of-type(2) {
  width: 10px;
  height: 10px;
}
.mobile-funcional-button-row-count {
  font-weight: 400;
  font-size: 16px;
  color: #5a5a5a;
}

@media only screen and (max-width: 960px) {
  .container-catalog {
    flex-direction: column;
    gap: 10px;
  }
  .catalog-burger-menu-content {
    border-bottom: 1px solid #c3c3c399;
    padding-bottom: 25px;
    max-width: 100%;
  }
  .catalog-burger-menu-content-categoryes-column {
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    width: 100%;
    max-width: 100%;
  }
  .catalog-burger-menu {
    width: 50%;
    height: 100vh;
    padding-bottom: 120px;
  }
  .catalog-burger-menu-content-cards {
    margin-top: 15px;
  }
  .catalog-burger-menu-content-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 100%;
  }
  .CatalogBurgerMenuCard h2 {
    font-size: 17px;
  }
  .CatalogBurgerMenuCard img {
    padding: 0 10px 5px;
  }
}

@media only screen and (max-width: 720px) {
  .catalog-burger-menu {
    width: 65%;
  }
  .catalog-burger-menu-content h3 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .catalog-burger-menu {
    width: 100%;
  }
  .catalog-burger-menu-content-categoryes-column {
    display: flex;
    flex-direction: column;
  }
  .catalog-burger-menu-content-categoryes button {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(195, 195, 195, 0.6);
    max-width: 100%;
  }
  .catalog-burger-menu-content-categoryes button:last-child {
    border-bottom: none;
  }
  .catalog-burger-menu-content {
    border-bottom: none;
  }
  .catalog-burger-menu-content-cards {
    display: none;
  }
  .catalog-burger-menu {
    padding: 10px 0 140px;
  }
}
