.ProductPageWrapper-main-content-images {
  max-width: 100%;
  width: 100%;
  display: flex;
  gap: 15px;
  position: relative;
}
.ProductPageWrapper-main-content-images-sidebar {
  max-width: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ProductPageWrapper-main-content-images-sidebar-img {
  background: var(--gray-0310, #5a5a5a1a);
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
}

.ProductPageWrapper-main-content-images-sidebar-img img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductPageWrapper-main-content-images-sidebar-img.active {
  border: 1px solid #ff5a00;
}

.ProductPageWrapper-main-content-images-main-image {
  background: var(--gray-0310, #5a5a5a1a);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductPageWrapper-main-content-images-main-image.discount {
  background: #ff5a000d;
  border: 1px solid #ff5a00;
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1200px) {
  .ProductPageWrapper-main-content-images-main-image {
    height: max-content;
  }
}
@media only screen and (max-width: 1100px) {
}
@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 830px) {
  .ProductPageWrapper-main-content-images {
    flex-direction: column-reverse;
  }
  .ProductPageWrapper-main-content-images-sidebar {
    flex-direction: row;
  }
  .ProductPageWrapper-main-content-images-sidebar {
    max-width: 100%;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
  }
  .ProductPageWrapper-main-content-images-sidebar-img {
    max-width: 65px;
  }
}
