.CatalogFilters {
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  max-width: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: max-content;
}
.CatalogFilters-top {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background: var(--gray-0420, #c3c3c333);
  padding: 20px;
}

.CatalogFilters-content {
  padding: 24px 20px;
}

.filter-content-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #c3c3c399;
}

.filter-content-group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}


.filter-content-group-title h2 {
  font-size: 20px;
  font-weight: 600;
}
.filter-content-group-buttons {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-content-group-buttons.open {
  opacity: 1;
  padding-bottom: 30px;
}

.filter-content-group-buttons button {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-content-group-buttons button:hover {
  color: #ff5a00;
}

.filter-content-group-buttons button.active {
  color: #ff5a00;
  font-weight: 600;
}

.filter-content-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filter-content-button-wrapper p {
  color: #6c6c6c;
  font-size: 16px;
}
