.CatalogFilters {
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: max-content;
}
.CatalogFilters-top {
  background: var(--gray-0420, #c3c3c333);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CatalogFilters-top h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.CatalogFilters-top p {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.CatalogFilters-content {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-selected-content-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-content-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #c3c3c399;
}

.filter-content-group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.filter-selected-content-button-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 12px;
}

.filter-selected-content-button-wrapper-button {
  padding: 12px;
  background: var(--gray-0420, #c3c3c333);
  border-radius: 6px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.filter-selected-content-button-wrapper-button svg {
  color: #ff5a00;
  font-size: 20px;
}

.filter-content-group-title h2 {
  font-size: 20px;
  font-weight: 600;
}
.filter-content-group-buttons {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CatalogFilters-top-img-close {
  width: 44px;
  height: 44px;
  background: var(--gray-0420, #c3c3c333);
  padding: 10px;
  border-radius: 4px;
}

.filter-content-group-buttons.open {
  opacity: 1;
  padding-bottom: 30px;
}

.filter-content-group-buttons button {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-content-group-buttons button:hover {
  color: #ff5a00;
}

.filter-content-group-buttons button.active {
  color: #ff5a00;
  font-weight: 600;
}

.filter-content-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filter-content-button-wrapper p {
  color: #6c6c6c;
  font-size: 16px;
}

.filter-content-button-wrapper-left-withinput {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.filter-content-button-wrapper-custom-input {
  width: 22px;
  height: 22px;
  border: 2px solid #5a5a5a99;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CatalogFilters-content-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 20px;
}
.CatalogFilters-content-buttons-apply {
  font-size: 16px;
  color: #fafafa;
  background: #ff5a00;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  padding: 10px 12px;
}
.CatalogFilters-content-buttons-reset {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}

.filter-content-button-wrapper-custom-input.active {
  background-color: #ff5a00;
  border: 1px solid #ff5a00;
}

.filter-content-button-wrapper-custom-input.active svg {
  color: #fff;
}

.filter-content-button-wrapper-left-withinput.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.filter-content-button-wrapper-custom-input svg {
  width: 13px;
  height: 13px;
  color: transparent;
}

.filter-content-button-wrapper-left-withinput:hover
  .filter-content-button-wrapper-custom-input {
  border: 1px solid #ff5a00;
}

.filter-content-button-wrapper-left-withinput:hover button {
  color: #ff5a00;
}

@media only screen and (max-width: 1440px) {
  .CatalogFilters {
    max-width: 320px;
  }
}

@media only screen and (max-width: 1100px) {
  .CatalogFilters {
    max-width: 290px;
  }
}
@media only screen and (max-width: 1000px) {
  .CatalogFilters {
    max-width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .CatalogFilters {
    position: fixed;
    border-radius: 0px;
    max-width: 50%;
    width: 100%;
    background-color: #fff;
    border: none;
    box-shadow: 0px 2px 20px -9px #0a0a0a1f;

    z-index: 5;
    height: 100vh;
    left: 0px;
    top: 0px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
  }

  .CatalogFilters.active {
    transform: translateX(0);
  }
  .CatalogFilters-top {
    padding: 12px 20px;
  }
  .filter-content-group-title h2,
  .filter-content-group-buttons button {
    font-size: 18px;
  }

  .filter-content-button-wrapper-custom-input {
    width: 20px;
    height: 20px;
  }

  .filter-content-button-wrapper-left-withinput {
    gap: 7px;
  }

  .filter-selected-content-button-wrapper-button {
    font-size: 16px;
  }
}
@media only screen and (max-width: 615px) {
  .CatalogCards-sort-component-title-sort-option p {
    display: none;
  }
  .CatalogFilters {
    max-width: 100%;
  }
  .CatalogCards-top-end-content-filter-mobile p{
    font-size: 16px;
  }
  .CatalogCards-sort-component-title p{
    font-size: 16px;
  }
}
@media only screen and (max-width: 460px) {
}
