.RecoveryPage .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.RecoveryPage {
  height: 90vh;
}

.RecoveryPage .container .AuthFormContainer {
  max-width: 500px;
  background: #fafafa;
  box-shadow: 4px 2px 20px -9px #0a0a0a1f;
}
