.ProductPageWrapper-container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 20px;
}
.ProductPageWrapper-main-content {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.ProductPageWrapper-option-variants-wrapper {
  padding-top: 24px;
  border-top: 1px solid #c3c3c399;
  border-bottom: 1px solid #c3c3c399;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
}

.ProductPageWrapper-tech-description {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1440px) {
  .ProductPageWrapper-option-variants-wrapper {
    padding-top: 18px;
    padding-bottom: 18px;
    gap: 20px;
  }
}

@media only screen and (max-width: 1100px) {
  .ProductPageWrapper-option-variants-wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 12px;
  }
  .ProductPageWrapper-container {
    padding: 0;
  }
}

@media only screen and (max-width: 830px) {
  .ProductPageWrapper-main-content {
    align-items: flex-start;
    gap: 15px;
  }
  .ProductPageWrapper-option-variants-wrapper {
    border-bottom: none;
  }
}

@media only screen and (max-width: 600px) {
  .ProductPageWrapper-main-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 440px) {
}
