.ProductPageWrapper-container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 20px;
}
.ProductPageWrapper-main-content {
  display: flex;
  gap: 20px;
}

.ProductPageWrapper-option-variants-wrapper {
  padding-top: 24px;
  border-top: 1px solid #c3c3c399;
  border-bottom: 1px solid #c3c3c399;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
