.GeneralInfo {
  max-width: 100%;
  width: 100%;
}
.GeneralInfo-top {
  display: flex;
  align-items: center;
  gap: 24px;
}

.GeneralInfo-top h2 {
  font-size: 24px;
  font-weight: 600;
  color: #060606;
  text-transform: uppercase;
  max-width: max-content;
  width: 100%;
}

.GeneralInfo-top-line {
  border: 1px solid var(--gray-0460, #c3c3c399);
  width: 100%;
}
.GeneralInfo-top-manage {
  cursor: pointer;
  display: flex;
  gap: 10px;
  max-width: max-content;
  width: 100%;
  align-items: center;
  font-size: 20px;
  color: #ff5a00;
  font-weight: 600;
  transition: 0.3s ease all;
}

.GeneralInfo-top-manage:hover {
  color: #e05206;
}

.GeneralInfo-top-manage svg {
  stroke-width: 2px;
}

.GeneralInfo-content {
  width: 100%;
  margin-top: 48px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-wrapper-group {
  display: flex;
  gap: 25px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form-field label {
  font-weight: 600;
  font-size: 18px;
  color: #060606;
}

.form-field input {
  width: 100%;
  padding: 18px 24px;
  border-radius: 6px;
  border: 1px solid #c3c3c399;
  font-size: 20px;
  color: #222222;
  outline: none;
}

.form-field input:focus {
  border-color: #000;
}

.phone-field {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
}

.phone-field input {
  border: none;
  padding: 0px 0;
}

.phone-field input:focus {
  outline: none;
}

.country {
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  background: var(--gray-0420, #c3c3c333);
  height: 100%;
  padding: 14px 24px;
}

.arrow {
  font-size: 10px;
}

.input-wrapper-save-buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  font-size: 20px;
}
.save-btn {
  border-radius: 4px;
  background: #ff5a00;
  color: #fafafa;
  cursor: pointer;
  transition: 0.25s ease;
  padding: 12px 24px;
}

.save-btn:hover {
  background: #e44f00; /* темніший відтінок */
  transform: translateY(-1px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}
.cancel-btn {
  border-radius: 4px;
  padding: 12px 24px;
  transition: 0.3s ease all;
  background: #dc2626; /* dark red */
  color: #fff;
  cursor: pointer;
}
.cancel-btn:hover {
  background: #b91c1c; /* even darker on hover */
  border-color: #991b1b;
}
