.CartPopUp {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  max-width: 1720px;
  width: 100%;
}

.CartPopUp-container {
  padding: 20px;
}

/* 58 */

.CartPopUp-wrapper {
  border-radius: 20px;
  box-shadow: 0px 2px 20px -9px #0a0a0a1f;
  background: #fafafa;
  padding: 36px 30px 0;
}

.CartPopUp-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  align-items: center;
}
.CartPopUp-top-continue {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 20px;
  max-width: 415px;
  width: 100%;
  border: 1px solid var(--gray-0310, #5a5a5a1a);
  cursor: pointer;
  border-radius: 4px;
}

.CartPopUp-top-continue p {
  font-size: 20px;
  color: #222222;
  font-weight: 600;
}

.CartPopUp-top-continue svg {
  font-size: 20px;
}

.CartPopUp-top h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
