.AccountPage-content-navigation {
  border: 1px solid var(--gray-0460, #c3c3c399);
  border-radius: 12px;
  max-width: 30%;
  width: 100%;
  padding: 24px;
  height: max-content;
}

.AccountPage-content-navigation p {
  font-size: 20px;
  font-weight: 600;
}

.AccountPage-content-navigation-top-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-0420, #c3c3c333);
}
.AccountPage-content-row * {
  transition: 0.3s ease all;
}
.AccountPage-content-row {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.AccountPage-content-row.active {
  color: #ff5a00;
}

.AccountPage-content-row.active .AccountPage-content-img {
  background: #ff5a000d;
}

.AccountPage-content-row:hover {
  color: #ff5a00;
}

.AccountPage-content-row:hover .AccountPage-content-img {
  background: #ff5a000d;
}

.AccountPage-content-img {
  background: var(--gray-0420, #c3c3c333);
  padding: 10px;
  border-radius: 6px;
}
.AccountPage-content-img svg,
.AccountPage-content-img-logout svg {
  width: 32px;
  height: 32px;
}
.AccountPage-content-navigation-order-history {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-0420, #c3c3c333);
  border-top: 1px solid var(--gray-0420, #c3c3c333);
}
.AccountPage-content-navigation-logout {
  padding-top: 24px;
  cursor: pointer;
}
.AccountPage-content-navigation-logout * {
  color: #e10000;
}

.AccountPage-content-img-logout {
  background: transparent;
  padding: 10px;
  border-radius: 6px;
}

@media (max-width: 1340px) {
  .AccountPage-content-row {
    gap: 15px;
  }
  .AccountPage-content-navigation p {
    font-size: 18px;
  }
  .AccountPage-content-img svg,
  .AccountPage-content-img-logout svg {
    width: 28px;
    height: 28px;
  }
  .AccountPage-content-navigation-top-info {
    gap: 18px;
    padding-bottom: 18px;
  }
  .AccountPage-content-navigation-order-history {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .AccountPage-content-navigation-logout {
    padding-top: 18px;
  }
}
@media (max-width: 1124px) {
  .AccountPage-content-navigation {
    padding: 20px;
    max-width: 40%;
  }
}
@media (max-width: 815px) {
  .AccountPage-content-navigation {
    padding: 20px;
    max-width: 100%;
  }
  .AccountPage-content-row {
    gap: 15px;
  }
  .AccountPage-content-img svg,
  .AccountPage-content-img-logout svg {
    width: 22px;
    height: 22px;
  }
  .AccountPage-content-navigation-top-info {
    gap: 12px;
    padding-bottom: 12px;
  }
  .AccountPage-content-navigation-order-history {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .AccountPage-content-navigation-logout {
    padding-top: 12px;
  }
  .AccountPage-content-img {
    padding: 7px;
  }
}
@media (max-width: 440px) {
  .AccountPage-content-row {
    gap: 10px;
  }
  .AccountPage-content-img svg,
  .AccountPage-content-img-logout svg {
    width: 20px;
    height: 20px;
  }
  .AccountPage-content-navigation-top-info {
    gap: 10px;
    padding-bottom: 10px;
  }
  .AccountPage-content-navigation-order-history {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .AccountPage-content-navigation-logout {
    padding-top: 10px;
  }
  .AccountPage-content-navigation p {
    font-size: 15px;
  }
  .AccountPage-content-navigation {
    padding: 15px;
  }
}
