.ProductPageDescription-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ProductPageDescription-accordeon {
  padding: 24px 12px 0px;
  border-bottom: 1px solid #5a5a5a99;
}
.ProductPageDescription-accordeon-title {
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.ProductPageDescription-accordeon-title p {
  font-weight: 600;
}
.ProductPageDescription-accordeon-content {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.ProductPageDescription-accordeon-content.active {
  opacity: 1;
}

.ProductPageDescription-delivery {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 15px;
}
.ProductPageDescription-delivery-card {
  max-width: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
}

.ProductPageDescription-delivery-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  text-transform: uppercase;
}

.ProductPageDescription-accordeon-content-text {
  padding-bottom: 24px;
  font-size: 20px;
}

@media only screen and (max-width: 1440px) {
  .ProductPageTech-top h2 {
    font-size: 20px;
  }
  .ProductPageTech-container-grid-specs h3 {
    font-size: 18px;
  }
  .ProductPageTech-container-grid-specs p {
    font-size: 20px;
  }
  .ProductPageTech-container-grid-specs {
    padding: 15px 0;
  }
  .ProductPageTech-container-grid {
    gap: 0 20px;
  }
  .ProductPageDescription-accordeon-content-text {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1100px) {
}
@media only screen and (max-width: 830px) {
  .ProductPageWrapper-tech-description {
    flex-direction: column-reverse;
  }
  .ProductPageDescription-container {
    gap: 10px;
  }
}
/* @media only screen and (max-width: 600px) {
} */
@media only screen and (max-width: 440px) {
  .ProductPageDescription-delivery-card h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  .ProductPageDescription {
    padding-top: 18px;
  }
  .ProductPageDescription-accordeon-title p {
    font-size: 18px;
  }
  .ProductPageDescription-accordeon-title {
    font-size: 18px;
    padding-bottom: 15px;
  }
  .ProductPageWrapper-main-content {
    margin-bottom: 10px;
  }
  .ProductPageDescription-accordeon-content-text {
    font-size: 16px;
  }
  .ProductPageTech-container-grid-specs h3 {
    font-size: 16px;
  }
  .ProductPageTech-container-grid-specs p {
    font-size: 18px;
  }
}
