.CatalogCardsContainer {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.CatalogCards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 100%;
  width: 100%;
}

.CatalogCards-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CatalogCards-top-start-content {
  display: flex;
  gap: 30px;
  align-items: center;
}

.CatalogCards-top-start-content h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.CatalogCards-top-start-content p {
  color: #6c6c6c;
  font-size: 18px;
}

.CatalogCards-sort-component-title {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.CatalogCards-sort-component-title p {
  color: #5a5a5a;
}

.CatalogCards-sort-component-title-sort-option p {
  color: #222222;
}
.CatalogCards-sort-component-title-sort-option {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
}

.CatalogCards-top-end-content {
  position: relative;
}
.CatalogCards-sort-component {
  cursor: pointer;
}

.CatalogCards-top-end-content-sort-select {
  padding: 20px 10px;
  border-radius: 4px;
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  background: #fafafa;
  border: 1px solid #c3c3c3;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.CatalogCards-top-end-content-sort-select-button {
  font-size: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-0460, #c3c3c399);
  transition: all 0.3s ease;
  cursor: pointer;
}

.CatalogCards-top-end-content-sort-select-button:hover {
  color: #ff5a00;
}
